body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url('./images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg');
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden;

}
h2{
    color: rgb(13, 126, 128);
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.clock{
    display: flex;
    }
.clock div{
        margin: 5px;
        position: relative;
         }
.clock span{
    width: 100px;
    height: 80px;
    background-color: blueviolet;
    opacity: .8;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgb(66, 2, 97);

}
#ampm{
    bottom: 0;
    position: absolute;
    font-size: 30px;
    height: 40px;
    width: 60px;
    background-color: rgb(17, 112, 150);
    opacity: .9;
    
}